@model ProjetoDeBancoDeDados.Models.PlanoSaude

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>PlanoSaude</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Numero" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tipo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Titular" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titular" class="form-control" />
                <span asp-validation-for="Titular" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Validade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Validade" class="form-control" />
                <span asp-validation-for="Validade" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Valor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
